{
  "swagger": "2.0",
  "info": {
    "title": "AddressService",
    "version": "v1.0.0"
  },
  "host": "api-gateway.endpoints.jumba-nl.cloud.goog",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "key",
      "in": "header"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/v1/address/get": {
      "get": {
        "operationId": "Get",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/api_v1Address"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "bagid",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "AddressService"
        ]
      }
    },
    "/v1/address/getmulti": {
      "get": {
        "operationId": "GetMulti",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/api_v1Addresses"
            }
          }
        },
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "AddressService"
        ]
      }
    },
    "/v1/address/list": {
      "get": {
        "operationId": "List",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/api_v1Addresses"
            }
          }
        },
        "parameters": [
          {
            "name": "pagination.total",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "pagination.limit",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "pagination.offset",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "pagination.cursor",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.next",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "AddressService"
        ]
      }
    },
    "/v1/address/update": {
      "put": {
        "operationId": "Update",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/api_v1Address"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api_v1Address"
            }
          }
        ],
        "tags": [
          "AddressService"
        ]
      }
    }
  },
  "definitions": {
    "api_v1Address": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "bagid": {
          "type": "string"
        },
        "legacy": {
          "$ref": "#/definitions/api_v1Legacy"
        }
      }
    },
    "api_v1Addresses": {
      "type": "object",
      "properties": {
        "addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/api_v1Address"
          }
        },
        "pagination": {
          "$ref": "#/definitions/api_v1Pagination"
        }
      }
    },
    "api_v1Legacy": {
      "type": "object",
      "properties": {
        "source": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "api_v1Pagination": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "format": "int64"
        },
        "limit": {
          "type": "string",
          "format": "int64"
        },
        "offset": {
          "type": "string",
          "format": "int64"
        },
        "cursor": {
          "type": "string"
        },
        "next": {
          "type": "string"
        }
      }
    }
  }
}
